#cloud-config

hostname: coreos-node01

coreos:
  units:
    - name: static.network
      content: |
        [Match]
        Name=enp0s3
        [Network]
        Address=192.168.56.101/24
        Gateway=192.168.56.2
        DNS=8.8.8.8

#    - name: etcd2.service
#      command: start

#    - name: fleet.service
#      command: start

#  etcd2:
#    name: "node01"
#    discovery: https://discovery.etcd.io/f8e05dc90b0d3206ff559d3cc85b9667
#    advertise-client-urls: http://192.168.56.101:2379,http://192.168.56.101:4001
#    initial-advertise-peer-urls: http://192.168.56.101:2380
#    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
#    listen-peer-urls: http://192.168.56.101:2380

users:
  - name: admin
    passwd: $1$vT0CWi8J$OfW5qpjVZYVnLrp7HEm4v0
    groups:
      - sudo
      - docker
