[Unit]
Description=MySQL DataBase
After=etcd.service
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill mysql%i
ExecStartPre=-/usr/bin/docker rm  mysql%i
ExecStartPre=/usr/bin/docker pull mysql:5.7
ExecStart=/usr/bin/docker run --name mysql%i -e MYSQL_ROOT_PASSWORD="4linux" -e MYSQL_DATABASE="wordpress" -e MYSQL_USER="wordpress" -e MYSQL_PASSWORD="4linux" mysql:5.7
ExecStop=/usr/bin/docker stop mysql%i
Restart=always

[X-Fleet]
X-Conflicts=mysql@%i.service
