[Unit]
Description=WordPress

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill wordpress%i
ExecStartPre=-/usr/bin/docker rm -f wordpress%i
ExecStartPre=/usr/bin/docker pull wordpress
ExecStart=/usr/bin/docker run --name wordpress%i --link mysql%i:mysql -p 8080:80 -e WORDPRESS_DB_PASSWORD=4linux -e WORDPRESS_DB_NAME=wordpress -e WORDPRESS_DB_USER=wordpress wordpress
ExecStop=/usr/bin/docker stop wordpress%i
Restart=always

[X-Fleet]
MachineOf=mysql@%i.service
